.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-gap: 1em;
}

header, footer, article {
  grid-column: 1 / 4;
}

.pre-code {
  max-width: 90vw;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 0;
}

header {
  height: 3em;
}

header,
aside,
footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 25vh;
}

article {
  display: flex;
  background: #eaeaea;
  flex-direction: column;
  align-items: flex-start;
}